### One Hot Encoder

#### Using sklearn

In [1]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
import pandas as pd

In [4]:
data2=pd.read_csv("Company_Data.csv",index_col=0)

In [5]:
data2

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
Sales,,,,,,,,,,
9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
11.22,111,48,16,260,83,Good,65,10,Yes,Yes
10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...
12.57,138,108,17,203,128,Good,33,14,Yes,Yes
6.14,139,23,3,37,120,Medium,55,11,No,Yes
7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [6]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

In [9]:
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(data2[['ShelveLoc']]).toarray())

In [10]:
enc_df

       0    1    2
0    1.0  0.0  0.0
1    0.0  1.0  0.0
2    0.0  0.0  1.0
3    0.0  0.0  1.0
4    1.0  0.0  0.0
..   ...  ...  ...
395  0.0  1.0  0.0
396  0.0  0.0  1.0
397  0.0  0.0  1.0
398  1.0  0.0  0.0
399  0.0  1.0  0.0

[400 rows x 3 columns]